
@font-face {
    /*Fuente del tipo de letra regular*/
    font-family: Mulish-Regular;
    src: url("../fonts/Mulish/static/Mulish-Regular.ttf");
}

@font-face {
    font-family: Mulish-Bold;
    src: url("../fonts/Mulish/static/Mulish-Bold.ttf");
    font-weight: bold;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Mulish-Regular;
    font-size: 15px;
}

.fondoAzulFrozono{
    background-color: #4DBAD9  !important; /* Sobrescribe el color de fondo */;
    color:black;
}

strong {
    font-family: Mulish-Bold;
    color: white; /* Cambiar color de texto en strong a blanco */
}







body{
    min-height: 100vh;
    width: 100%;
    display: flex;

}
.containerLogo{
    width: 60%;
    background-color: #1F1F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .25em solid #4DBAD9;
}
.containerLogo img{
    max-width: 60% ;
}
.containerLogin{
    width: 40%;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.formulario{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-content:center ;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.email{
    margin-top: 1em;
    margin-bottom: .4em;
}
.email label{
    padding-left: 1em;
}
.email input{
    width: 100%;
    padding: 1em;
    padding-left: 1em;
    border: #4DBAD9 solid .1em;
    border-radius: .5em;
    text-align:left;
    color: white;
    background-color: #1A1A1A;
}


.password label{
    padding-left: 1em;
}
.password input{
    width: 100%;
    padding: 1em;
    padding-left: 1em;
    border: #4DBAD9 solid .1em;
    border-radius: .5em;
    text-align:left;
    color: white;
    background-color: #1A1A1A;
} 
.password a {

    margin-left: 29em;
    text-decoration: none !important; /* Forzar la eliminación del subrayado */
    color: white !important; /* Forzar el color heredado */

}
.password a:visited {
    color: inherit; /* Mantén el mismo color después de haber sido clicado */
}

.password a:hover {
    color: white;
}

.password a:focus {
    outline: none;
}




.boton{
    margin-bottom: 5em;
    text-align: center;
    padding: .5em;
    border: #4DBAD9 solid .1em;
    border-radius: .5em;
    width: 100%;
    color: white;
}

/* Estilos del mensaje emergente */
.mensaje-olvidado {
    display: none;
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    right: 7%; /* Ajustar según sea necesario */
    background-color: #1A1A1A;
    border: 1px solid #4DBAD9;
    color: white;
    border-radius: 8px;
    padding: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegúrate de que esté encima del contenido */
    transform: translateY(-50%); /* Ajustar la posición verticalmente */
}

.mensaje-contenido {
    text-align: center; /* Centrar texto en el mensaje */
}

.mensaje-contenido p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.mensaje-contenido button {
    padding: 10px 20px;
    background-color: #4DBAD9;
    border: none;
    color: white;
    cursor: pointer;
}

.mensaje-contenido button:hover {
    background-color: #4DBAD9;
}

.iconosDark {
    font-size: 24px; /* Cambia el tamaño del icono */
    padding: 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    background: transparent; /* Sin fondo */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    position: absolute; /* Permite posicionar el botón dentro de .containerLogin */
    top: 10px; /* Espacio desde la parte superior */
    right: 10px; /* Espacio desde la derecha */
    color: #4DBAD9;
}
